{
	"inputs": [
		{
			"handler": "AMQPInput",
			"config": {
				"url": "amqp://<username>:<password>@<host>:<port>",
				"routing_key": "notifications.info",
				"exchange_type": "direct",
				"queue_name": "<your_queue_name>",
				"namespace": "openstack",
				"bindings": [ "keystone", "nova", "neutron" ]
			}
		},{
			"handler": "ZMQInput",
			"config": {
				"uri": "tcp://*:55055",
				"namespace": "local",
				"type": "zmq.REP"
			}
		}
	],
	"outputs": [
		{
			"handler": "zeromq",
			"config": {
				"protocol": "tcp",
				"port": 55000,
				"listen_address": "*",
				"type": "zmq.PUB"
			}
		}
	],
	"aggregator": {
		"config": {
			"listen_address": "*",
			"port": 45454,
			"protocol": "tcp",
			"type": "zmq.PULL"
		}
	},
	"logging": {
		"format": "%(asctime)s (%(process)d) [%(levelname)s %(lineno)s:%(name)s.%(funcName)s]: %(message)s",
		"loglevel": "INFO"
	}
}