{
	"feeds": {
		"aggregator": {
			"protocol": "tcp",
			"host": "127.0.0.1",
			"port": 45454,
			"type": "zmq.PUSH"
		},
		"feeders": [
			{
				"namespace": "openstack",
				"handler": "AMQPInput",
				"config": {
					"url": "amqp://<username>:<password>@<host>:<port>",
					"routing_key": "notifications.info",
					"exchange_type": "direct",
					"queue_name": "<your_queue_name>",
					"bindings": [ "keystone", "nova", "neutron" ]
				}
			},{
				"namespace": "local",
				"handler": "ZMQInput",
				"config": {
					"uri": "tcp://*:55055",
					"type": "zmq.REP"
				}
			}
		]
	},
	"outputs": [
		{
			"handler": "zeromq",
			"config": {
				"protocol": "tcp",
				"port": 55000,
				"listen_address": "*",
				"type": "zmq.PUB"
			}
		}
	],
	"aggregator": {
		"config": {
			"listen_address": "*",
			"port": 45454,
			"protocol": "tcp",
			"type": "zmq.PULL"
		}
	},
	"logging": {
		"format": "%(asctime)s (%(process)d) [%(levelname)s %(lineno)s:%(name)s.%(funcName)s]: %(message)s",
		"loglevel": "INFO"
	},
	"celery": {
		"protocol": "mongodb",
		"host": "127.0.0.1",
		"port": 27017,
		"database": "eventreactor",
		"task_collection": "task_collection",
		"task_imports": ["eventworker.tasks"]
	}
}