{
	"local:zmq.test": [
		{
			"driver": "shell",
			"handler": "echo",
			"exclusive": false
		},{
			"driver": "pyfunc",
			"handler": "eventreactor.eventhandlersdebug.dumpEventPayload",
			"exclusive": false
		},{
			"driver": "pyfunc",
			"handler": "testing.dumpEvent",
			"exclusive": false
		}
	]
}